body{
	width: 760px; /* how wide to make your web page */
	background-color: blanchedalmond; /* what color to make the background */
	margin: 0 auto;
	padding: 50px;
	font:12px/16px Verdana, sans-serif; /* default font */
}
header {
	color: rgb(116, 75, 49);
	font-family: Verdana, sans-serif;
    font-size: 30px;
}
div.box {
	width: 200px;
	margin: 0 auto;
	padding: 25px; 
	border: 5px dashed rgb(116, 75, 49); 
}
img{
    width: 200px;
    padding: 10px; 
	border: 2px solid rgb(116, 96, 84);
}
h1{
    color: rgb(116, 75, 49);
	font-family: fantasy;
    font-size: 20px;
}
